@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-noto-sans: var(--font-noto-sans-jp);
  --font-system: var(--font-nunito), var(--font-kosugi-maru), sans-serif;
  --font-mono: Consolas, var(--font-fira-mono);
  --font-kosugi-maru: var(--font-kosugi-maru), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  /* ::backdrop, */
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --icon-width: 4px;
  --icon-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.toc-list {
  @apply w-full my-0 px-0;
}

.toc-list-item .toc-link {
  @apply border-l-4 no-underline transition-colors duration-200 inline-block w-full py-1.5 pl-2 text-gray-400;
}

.is-collapsible .toc-list-item {
  @apply ml-0 pl-0;
}

.is-collapsible .toc-link {
  @apply ml-0 pl-4 text-sm;
}

.toc-list-item .toc-link:hover {
  @apply text-[#324e73];
}

.toc-list-item {
  @apply list-none w-full py-0 my-0;
}

.is-active-li .toc-link {
  @apply border-l-4 border-l-[#324e73] text-[#324e73];
}

.batsu {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}

.batsu::before,
.batsu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #324e73;
  border-radius: 2.5px;
}

.batsu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

svg {
  @apply inline align-baseline;
}

.post .scrollable {
  @apply overflow-x-auto p-0 m-0 indent-0 whitespace-nowrap;
}

.post {
  @apply text-[#101828];
  text-autospace: normal;
}

.post a {
  @apply underline underline-offset-4;
}

.post a:hover {
  @apply text-[#324e73] no-underline;
}

.post h2 {
  @apply text-[#324e73] text-base sm:text-2xl font-bold py-0.5 sm:py-1 border-l-4 border-l-[#324e73] pl-2 sm:pl-4;
}

.post h3 {
  @apply text-[#324e73] text-base sm:text-xl font-bold;
}

.post p {
  @apply indent-0 whitespace-pre-wrap font-[500];
}

.post li {
  @apply font-[500];
}

.post p+p {
  @apply mt-5;
}

.post p:has(+.scrollable) {
  @apply mb-0;
}

.post .scrollable + p {
  @apply mt-0;
}

.post img,
.post table {
  @apply mx-auto;
}

.post img:has(+.img-caption) {
  @apply mb-0;
}

.post .img-caption {
  @apply mt-2;
}

.post p code,
.post li code {
  @apply bg-[#d9dce1] rounded-md py-0.5 px-1 mx-0.5 text-base;
}

.post pre code {
  @apply pt-3 text-sm font-[400];
}

.post h2 code {
  @apply text-2xl;
}

.post pre {
  @apply bg-[#111430];
}

.post figure {
  @apply my-0;
}

.post details {
  @apply mt-2 mb-4 mx-0;
}

.post summary {
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  text-decoration: none;
  width: 100%;
}

.post details summary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 3px;
  border: solid #97c8d8;
  border-width: 1px;
  box-shadow: 0px 1px 1px 0px #4ba4cc;
  transform: skewX(-10deg);
  background-color: #fff;
}

.post details[open] summary::before {
  box-shadow: inset 0px 1px 1px 0px #4ba4cc;
}

details[open] summary::after {
  content: "−";
}

details summary::after {
  content: "+";
  color: #324e73;
  font-weight: 600;
  float: right;
  width: 1rem;
  text-align: center;
}

html.light[data-theme="dark"] {
  display: none;
}

html.dark[data-theme="light"] {
  display: none;
}

hr {
  height: 3px;
  border: 0;
  box-shadow: 0 3px 3px -3px #324e73 inset;
}

.scrollable path, .scrollable line, .scrollable g {
  stroke: #101828;
  fill: #101828;
}